# ENV file
*.env

# Compiled assets
/public/assets/css/*
/public/assets/js/*

# Storage
/storage/cache/*
/storage/logs/*
!/storage/logs/README.md

# Vendor Libraries
/bower_components/
/node_modules/
/vendor/
